html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: url(‘assets/Background Zazzle Games.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Style for Audio Control */
#sound-control {
    position: fixed;
    top: 10px;
    left: 10px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    background: linear-gradient(to right, transparent, opaque);
    z-index: 100;
    cursor: pointer;
}

/* Style for Logo */
#logo {
    position: fixed;
    right: 10px;
    bottom: 10px;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    z-index: 100;
}

/* Style for Title */
#title {
    position: fixed;
    top: 33%; /* Adjust to place in the middle of the superior third */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    opacity: 0;
    transition: opacity 3s ease-in-out;
    z-index: 100;
}

/* Media Query for smaller devices */
@media (max-width: 600px) {
    /* Adjust background position and size for mobile devices */
    body {
        background-position: top center;
    }
}
